[submodule "pearai-app"]
	path = heliod-app
	url = https://github.com/heliod/pearai-app.git
[submodule "pearai-submodule"]
	path = heliod-submodule
	url = https://github.com/heliod/pearai-submodule.git
[submodule "pear-landing-page"]
	path = pear-landing-page
	url = https://github.com/heliod/pear-landing-page.git
[submodule "pearai-documentation"]
	path = heliod-documentation
	url = https://github.com/heliod/pearai-documentation.git
[submodule "pearai-server-issues-public"]
	path = heliod-server-issues-public
	url = https://github.com/heliod/pearai-server-issues-public.git
[submodule "pearai-server"]
	path = heliod-server
	url = https://github.com/heliod/pearai-server.git
[submodule "pearai-mcp"]
	path = heliod-mcp
	url = https://github.com/heliod/pearai-mcp
[submodule "PearAI-Roo-Code"]
	path = heliod-Roo-Code
	url = https://github.com/heliod/PearAI-Roo-Code
